UO_Install/UO_Install.ps1
OwnerUpdate/Python/demo.py
OwnerUpdate/Powershell/demo.ps1
OnBoarding/demo.ps1
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/misc.xml
.gitignore
.idea/adoption-and-enablement-examples.iml
.gitignore
